.chat-item-container{

}

.chat-box {
    background: var(--bg-3);
    border-radius: 5px;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 300px;

}

.ci-chat-item {
}

.ci-message {
}