.js-join-screen {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ;
}

.js-join-screen-content {
    text-align: center;
}


.js-join-btn {
    outline: none;
    background: var(--bg-3);
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    outline: none;;
    border: none;
    border-radius: 5px;
    transition: background 200ms linear;
    margin-top: 20px;
    text-align: center;
    width: 136px;
}


.js-join-btn:hover {
    background-color: var(--bg-4);
}