

.devroom-container {
    background: var(--bg-1);
    height: 93vh;
    margin-top: 8vh;
    display: flex;
    ;
}

.editor-wrapper {
    width: 50%;
    resize: vertical;
    display: flex;
    overflow: hidden;
}

.resize {
    width: 20px;
    background: black;
    display: flex;
    align-items: center;
    cursor: col-resize;
}


.resize-horizontal {
    height: 10px;
    background: var(--bg-2);
    cursor: row-resize;
    width: 100%;
}

.devroom-right-col {
    /* display: flex;
    flex-direction: column; */
    height: 100%;
}

.devroom-horizontal-wrapper {
    display: flex;
}


.tab-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tab-results-container {
    background-color: green;
    height: 100%;
    overflow: hidden;
    position: relative;
}


.editor-header {
    background: #1e1e1e;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 5px solid var(--bg-3);
    min-width: 400px;
}

.editor-content {
    width: 100%;
}


.devroom-right-col {
    width: 100%;
    overflow: hidden;
}


