

.terminal-container {
    height: 100%;
    width: 100%;
    background: var(--bg-1);
    /* box-sizing: border-box; */
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

.terminal-rendered-content {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    box-sizing: border-box;

}

.chat-footer {
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    background: var(--bg-3);
    outline: none;
    ;
}
